:root {
    --widthfor : 70%;
    --fontSize : 1.4rem;
    --fontP : 1rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
body {
    font-size: 62.5%;
}
.contact {
    cursor: pointer;
    color : white;
    font-size: 3rem;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.4);
    padding: 1rem 0 0 0;
    margin-top: 1%;
}
.form_div {
    justify-content :center;
}
.form_form { 
    display: flex;
    /* padding-bottom: 1%; */
}
.form_form>div {
    width: 48%;
    height: 100%;
    align-items : center;
    justify-content : center;
}
.form_form >div:first-child> input, .form_form > div:last-child> textarea {
    display: block;
    margin: auto;
    text-align: center;
    color: white;
    background-color: transparent;
}
.form_form input{
    /* height: 2rem; */
    width: var(--widthfor);
    font-size : var(--fontSize);
    margin-bottom : 10%;
}
.form_form>div p {
    font-size: var(--fontP);
    margin: 0;
    margin-top: 5%;
    margin-bottom: 1%;
}
.form_form>div:first-child> p:first-child {
    margin-top: 5%;
}
.form_form>div:last-child> textarea {
    width: var(--widthfor);
    margin-bottom : 2%;
    font-size : var(--fontSize);
}
.form_form>div:last-child input{
    font-size: 30px;
    width : 67%;
    border-radius: 20px;
    background-color : rgb(96, 32, 112, 0.3);
    color : white;
    transition : 0.5s ease-in-out;
    transition: transform 0.1s ease-in;
}
.form_form>div:last-child input:hover{
    box-shadow: rgba(137, 11, 240, 0.25) 0px 13px 27px -5px, rgba(236, 93, 255, 0.3) 0px 8px 16px -8px;
    color:  rgb(173, 173, 173) !important;
}
.form_form>div:last-child input:focus{
    transform: scale(0.8);
}
/* .form_div > input:last-child { 
    height : 2rem;
    font-size: 1rem;
    width: 8%;
} */
@media (max-width: 600px) {
    :root{
        --widthfor : 90%;
    }
    .form_form>div> input:last-child {
        font-size: 1rem;
        width: 90%;
    }
    .form_form {
        flex-flow: column;
        text-align: center;
        justify-content: center;
    }
    .form_form>div> input {
        width: 80%;
    }
    .form_form>div> textarea {
        width: 80%;
    }
    .form_form>div{
        width: 100%;
    }
}